<div class="container-fluid p-0">
  <div class="row">
    <div class="container-fluid">
      <div class="row breadcrumb px-2">
        <div class="col current-url px-4">
          <div class="d-flex flex-column gap-2">
            <span class="title">{{title}}</span>
            <span class="site-map-current">{{breadcrumb}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row product-form-contain">
    <div class="col">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col">
            <div class="form-header">
              <span>
                Thêm sản phẩm mới
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-0 mt-2">
        <form [formGroup]="form" (ngSubmit)="addProduct()" class="container-fluid product-form">
          <div class="row">
            <div class="col-6">
              <div class="row mb-3">
                <input class="form-control form-control-lg" type="text" placeholder="Tên sản phẩm" aria-label=".form-control-lg example">
              </div>
              <div class="row mb-3">
                <div class="col-6 d-flex">
                  <label for="inputEmail3" class="col-sm-5 col-form-label">Trạng thái</label>
                  <div class="col-sm-7 text-center align-self-center">
                    <mat-slide-toggle formControlName="isHienThi"></mat-slide-toggle>
                  </div>
                </div>
                <div class="col-6 d-flex">
                  <label for="inputEmail3" class="col-sm-5 col-form-label">Nổi bật</label>
                  <div class="col-sm-7 text-center align-self-center">
                    <mat-slide-toggle formControlName="isNoiBat"></mat-slide-toggle>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="input-group custom-file-button">
                <label class="input-group-text" for="inputGroupFile">Hình ảnh</label>
                <input type="file" class="form-control form-control-lg" id="formFileLg" formControlName="hinhDaiDien">
              </div>
              <div class="mb-3 d-flex" *ngIf="data && data.hinhDaiDien != ''">
                {{data.hinhDaiDien}}
              </div>
            </div>
          </div>
          <div class="row">
            <angular-editor [placeholder]="'Nhập nội dung mô tả sản phẩm'" formControlName="noiDung" [config]="config"></angular-editor>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-main float-end d-flex gap-2">
                <mat-icon>save_alt</mat-icon>
                Cập nhật
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
