$main-color: #009047;
$ffff: #ffff;

.table-contain {

  mat-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
  }

  table {
    width: 100%;

    mat-icon {
      color: $main-color;
    }

    .active-btn {
      display: flex;
      justify-content: center;
      gap: 10px
    }
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: max-content;
    text-align: center;
  }

  .filter {
    mat-icon {
      font-size: 20px;
    }

    ::ng-deep .mat-mdc-text-field-wrapper {
      border-top: 2px solid rgba(0, 0, 0, 0.2) !important;
      border-right: 2px solid rgba(0, 0, 0, 0.2) !important;
      border-left: 2px solid rgba(0, 0, 0, 0.2) !important;
      border-radius: 7px;
      background-color: #ffff;
    }
  }
}

::ng-deep .mat-sort-header-container {
  width: max-content;
}

.breadcrumb {
  background-color: #ffff;

  .current-url {
    padding: 0 30px;
    height: 100px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .title {
      font-size: 25px;
      font-weight: 600;
      color: $main-color;
    }

    .site-map-current {
      font-weight: 600;
      font-size: small;
    }

    .btn-add-header {
      background-color: $main-color;
      color: #ffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
