<form class="form-add-banner" [formGroup]="form" (ngSubmit)="data ? update(data.id) : add()">
  <div class="p-4">
    <header>
      {{data ? "Chỉnh sửa" : "Thêm mới"}}
    </header>
  </div>

  <span class="line"></span>

  <div class="p-4">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Hình ảnh</label>
      <input formControlName="hinhDaiDien" class="form-control" type="file">
    </div>
    <div class="mb-3 d-flex" *ngIf="data && data.image != ''">
      <!-- <img width="20%" src="{{data.hinhDaiDien}}" alt=""> -->
      {{data.hinhDaiDien}}
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Mô tả</mat-label>
        <textarea formControlName="noiDung" matInput placeholder="Nhập mô tả"></textarea>
      </mat-form-field>
      <mat-error *ngIf="form.get('noiDung')?.hasError('required') && form.get('noiDung')?.touched">
        Bạn chưa nhập mô tả
      </mat-error>
    </div>
    <div class="mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Link ảnh</mat-label>
        <input *ngIf="pathName === '/banner'" matInput formControlName="urlbanner" placeholder="Nhập link ảnh">
        <input *ngIf="pathName === '/doi-tac' || pathName === '/khach-hang'" matInput formControlName="urldoiTac" placeholder="Nhập link ảnh">
        <mat-icon matSuffix [class.icon-error]="form.get('urlbanner')?.hasError('required') && form.get('urlbanner')?.touched">link</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="form.get('urlbanner')?.hasError('required') && form.get('urlbanner')?.touched">
        Bạn chưa nhập mô tả
      </mat-error>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Trạng thái</label>
      <div class="col-sm-9 align-self-center">
        <mat-slide-toggle [checked] = "checked" formControlName="isHienThi"></mat-slide-toggle>
      </div>
    </div>
    <div class="d-flex gap-2 justify-content-end">
      <button type="submit" class="btn btn-success">
        {{data ? "Cập nhật" : "Thêm mới"}}
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancle</button>
    </div>
  </div>
</form>
