<form class="form-add-account" [formGroup]="form" (ngSubmit)="data ? updateAccount(data.id) : addAccount()">
  <div class="p-4">
    <header>
      {{data ? "Chỉnh sửa tài khoản" : "Thêm tài khoản"}}
    </header>
  </div>

  <span class="line"></span>

  <div class="p-4">
    <div class="d-flex gap-3">
      <div class="mb-3 w-50">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="nhtuong2001@gmail.com" formControlName="email" required>
          <mat-icon matSuffix [class.icon-error]="(form.get('email')?.hasError('required') || form.get('email')?.hasError('email')) && form.get('email')?.touched">email</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" >
          Bạn chưa nhập email.
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
          Email không hợp lệ.
        </mat-error>
      </div>

      <div class="mb-3 w-50">
        <mat-form-field>
          <mat-label>Tên đầy đủ</mat-label>
          <input matInput formControlName="hoTen">
          <mat-icon matSuffix [class.icon-error]="form.get('hoTen')?.hasError('required') && form.get('hoTen')?.touched">person</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="form.get('hoTen')?.hasError('required') && form.get('hoTen')?.touched">
          Bạn chưa nhập tên.
        </mat-error>
      </div>
    </div>

    <div class="d-flex gap-3">
      <div class="mb-3">
        <mat-form-field>
          <mat-label>Giới tính</mat-label>
          <mat-select formControlName="gioiTinh">
            <mat-option *ngFor="let option of genderOptions" [value]="option.value">{{ option.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="mb-3 flex-grow-1">
        <mat-form-field>
          <mat-label>Số điện thoại</mat-label>
          <input matInput formControlName="soDienThoai">
          <mat-icon matSuffix [class.icon-error]="form.get('soDienThoai')?.hasError('required') && form.get('soDienThoai')?.touched">phone</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="form.get('soDienThoai')?.hasError('required') && form.get('soDienThoai')?.touched">
          Bạn chưa nhập số điện thoại.
        </mat-error>
      </div>
    </div>

    <div class="mb-3">
      <mat-form-field>
        <mat-label>Mật khẩu</mat-label>
        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
          <mat-icon matSuffix [class.icon-error]="form.get('password')?.hasError('required') && form.get('password')?.touched">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
        Bạn chưa nhập mật khẩu.
      </mat-error>
    </div>

    <div class="mb-3">
      <mat-form-field>
        <mat-label>Nhập lại mật khẩu</mat-label>
        <input matInput formControlName="cfpassword" [type]="hideCFPass ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hideCFPass = !hideCFPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCFPass">
          <mat-icon matSuffix [class.icon-error]="form.get('cfpassword')?.hasError('required') && form.get('cfpassword')?.touched">{{hideCFPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-error *ngIf="form.get('cfpassword')?.hasError('required') && form.get('cfpassword')?.touched">
        Bạn chưa nhập lại mật khẩu.
      </mat-error>
    </div>

    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Quyền Admin</label>
      <div class="col-sm-9 align-self-center">
        <mat-slide-toggle formControlName="isAdmin"></mat-slide-toggle>
      </div>
    </div>

    <div class="row mb-3">
      <span class="required">(*) là bắt buộc phải nhập</span>
    </div>

    <div class="d-flex gap-2 justify-content-end">
      <button type="submit" class="btn btn-success">
        {{data ? "Cập nhật" : "Thêm mới"}}
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancle</button>
    </div>
  </div>
</form>
