$main-color: #009047;

.logo-aq {
  padding: 0px 20px 20px 20px;
  text-align: center;
  border-bottom: solid 1px #9d9999;
}

.item-sidebar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-items: center;
  gap: 15px;
  padding: 10px;

  mat-icon {
    color: $main-color;
  }

  .item-name {
    font-size: 16px;
    color: #144339;
    font-weight: 400;
    font-family: muli,sans-serif;
  }

  &:hover {
    cursor: pointer;
    color: $main-color;
  }

  &.active {
    background-color: #009047;
    font-weight: 600;
    cursor: pointer;
    padding-left: 15px;
    border-radius: 5px;

    .item-name, mat-icon {
      color: #ffff;
    }
  }
}
