<div class="container-fluid">
  <div class="row breadcrumb">
    <div class="col current-url px-4">
      <div class="d-flex flex-column gap-2">
        <span class="title">{{title}}</span>
        <span class="site-map-current">{{breadcrumb}}</span>
      </div>
      <!-- hiện thị nút thêm ứng với từng form thích hợp với sidebar -->
      <button *ngIf="title === 'Header'" class="btn btn-add-header d-flex" (click)="openFormAddHeader()">
        Thêm mới
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="title === 'Banner' || title === 'Khách hàng' || title === 'Đối tác'" class="btn btn-add-header d-flex" (click)="openFormAddBannerAndCustomer()">
        Thêm mới
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="title === 'Tài khoản khách hàng'" class="btn btn-add-header d-flex" (click)="openFormAddAccount()">
        Thêm mới
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="title === 'Download'" class="btn btn-add-header d-flex" (click)="openFormAddDownload()">
        Thêm mới
        <mat-icon>add</mat-icon>
      </button>
      <!--/hiện thị nút thêm ứng với từng form thích hợp với sidebar -->
    </div>
  </div>
</div>
