<div class="container-fluid">
  <div class="row breadcrumb">
    <div class="col current-url px-4">
      <div class="d-flex flex-column gap-2">
        <span class="title">{{title}}</span>
        <span class="site-map-current">{{breadcrumb}}</span>
      </div>
      <button *ngIf="title === 'Header'" class="btn btn-add-header d-flex" (click)="openFormAddHeader()">
        Thêm
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="title === 'Banner' || title === 'Khách hàng'" class="btn btn-add-header d-flex" (click)="openFormAddBannerAndCustomer()">
        Thêm
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
