/* You can add global styles to this file, and also import other style files */
@import '/node_modules/bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import '../node_modules/font-awesome/css/font-awesome.css';

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif; }

$main-color: #009047;
$ffff: #ffff;

@mixin form-header {
  color: $ffff;
  background-color: $main-color;
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
}

.form-header {
  @include form-header()
}

.required {
  color: red;
}

label {
  font-size: 15px;
  font-weight: 500;
}

input {
  &::placeholder {
    font-size: 13px;
  }
}

.breadcrumb {
  background-color: #ffff;

  .current-url {
    padding: 0 30px;
    height: 100px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .title {
      font-size: 25px;
      font-weight: 600;
      color: $main-color;
    }

    .site-map-current {
      font-weight: 600;
      font-size: small;
    }

    .btn-add {
      background-color: $main-color;
      color: #ffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
