/* You can add global styles to this file, and also import other style files */
@import '/node_modules/bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', sans-serif; }

$main-color: #009047;
$ffff: #ffff;

@mixin form-header {
  color: $ffff;
  background-color: $main-color;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
}

.form-header {
  @include form-header()
}
