<div class="container-fluid p-0">
  <div class="row">
    <div class="container-fluid">
      <div class="row breadcrumb px-2">
        <div class="col current-url px-4">
          <div class="d-flex flex-column gap-2">
            <span class="title">{{title}}</span>
            <span class="site-map-current">{{breadcrumb}}</span>
          </div>
          <!-- <button *ngIf="title === 'Header'" class="btn btn-add d-flex" (click)="openFormAddHeader()">
            Thêm mới
            <mat-icon>add</mat-icon>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
