<form class="form-add-header" [formGroup]="form" (ngSubmit)="data ? updateHeader(data.id) : AddHeader()">
  <div class="p-4">
    <header>
      {{data ? "Chỉnh sửa Header" : "Thêm mới header"}}
    </header>
  </div>

  <span class="line"></span>

  <div class="p-4">
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Tên</mat-label>
        <input matInput formControlName="ten" required>
        <mat-icon matSuffix [class.icon-error]="form.get('ten')?.hasError('required') && form.get('ten')?.touched">menu</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="form.get('ten')?.hasError('required') && form.get('ten')?.touched" >
        Bạn chưa nhập tên.
      </mat-error>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Danh mục cha</mat-label>
        <mat-select formControlName="danhMucCha">
          <mat-option value="">Không có</mat-option>
          <ng-container *ngFor="let header of listHeader">
            <mat-option value="{{header.ten}}">{{header.ten}}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Link</mat-label>
        <input matInput formControlName="urlheader" required>
        <mat-icon matSuffix [class.icon-error]="form.get('urlheader')?.hasError('required') && form.get('urlheader')?.touched">link</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="form.get('urlheader')?.hasError('required') && form.get('urlheader')?.touched">
        Bạn chưa nhập link.
      </mat-error>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Trạng thái</label>
      <div class="col-sm-9 align-self-center">
        <mat-slide-toggle [checked] = "checked" formControlName="isHienThi"></mat-slide-toggle>
      </div>
    </div>
    <div class="d-flex gap-2 justify-content-end">
      <button type="submit" class="btn btn-success">
        {{data ? "Cập nhật" : "Thêm mới"}}
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cancle</button>
    </div>
  </div>
</form>
